rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read;
      allow write: if false;
    }
    match /resumes/{objName} {
      allow read: if true;
      allow write: if true && request.resource.size < 10 * 1024 * 1024 && objName.matches("^" + request.auth.uid + ".pdf$");
    }
    match /pfps/{objName} {
      allow read: if true;
      allow write: if true && request.resource.size < 10 * 1024 * 1024 && (objName.matches("^" + request.auth.uid + ".png$") || objName.matches("^" + request.auth.uid + ".jpg$")  || objName.matches("^" + request.auth.uid + ".jpeg$"));
    }
    match /covers/{objName} {
      allow read: if true;
      allow write: if true && request.resource.size < 10 * 1024 * 1024 && (objName.matches("^" + request.auth.uid + ".png$") || objName.matches("^" + request.auth.uid + ".jpg$")  || objName.matches("^" + request.auth.uid + ".jpeg$"));
    }
  }
}
