rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if false;
      allow write: if false;
    }
    match /resumes/{objName} {
      allow read: if request.auth!=null && request.auth.uid != null;
      allow write: if request.auth!=null && request.auth.uid != null && (request.resource.size < 10 * 1024 * 1024 && objName.matches("^" + request.auth.uid + ".pdf$") || objName.matches("^" + request.auth.uid + ".PDF$"));
    }
    match /pfps/{objName} {
      allow read: if request.auth != null && request.auth.uid != null;
      allow write: if request.auth != null && request.auth.uid != null && (request.resource.size < 10 * 1024 * 1024 && (objName.matches("^" + request.auth.uid + ".png$") || objName.matches("^" + request.auth.uid + ".PNG$") || objName.matches("^" + request.auth.uid + ".jpg$") || objName.matches("^" + request.auth.uid + ".JPG$")  || objName.matches("^" + request.auth.uid + ".jpeg$") || objName.matches("^" + request.auth.uid + ".JPEG$")));
    }
    match /covers/{objName} {
      allow read: if request.auth != null && request.auth.uid != null;
      allow write: if request.auth != null && request.auth.uid != null && (request.resource.size < 10 * 1024 * 1024 && (objName.matches("^" + request.auth.uid + ".png$") || objName.matches("^" + request.auth.uid + ".PNG$") || objName.matches("^" + request.auth.uid + ".jpg$") || objName.matches("^" + request.auth.uid + ".JPG$")  || objName.matches("^" + request.auth.uid + ".jpeg$") || objName.matches("^" + request.auth.uid + ".JPEG$")));
    }
  }
}
